In [18]:
if 5==15/3:
    print("hooray")

hooray

In [ ]:
a = 2
a

In [ ]:
#assign the value
x=10
y=13
#first if statement and operator
if x>10 and y>13:
    print("Both conditions are correct")
# second if statement using or operator
if x<=3 or x<=13:
    print("At least one of the conditions is false")

At least one of the conditions is false

In [ ]:
#assign the value
x=10
y=13
#first if statement and operator
if x>10 and y>13:
    print("Both conditions are correct")
else:
    print("At least one of the conditions is false")

At least one of the conditions is false

In [ ]:
# Assign number of orders
x = 120  # You can change this value to test
if x>100:
    print("A busy day")
else:
    print("A calm day")

A busy day

In [ ]:
# if else and elif condition
def check_temperature(temp):
    if temp>30:
        return "the weather is unbearable"
    elif temp <10:
          return "the weather is cold"
    else:
        return "the weather is unbearable"


print(check_temperature(35))
print(check_temperature(9))

the weather is unbearable
the weather is cold

In [ ]:
def check_temperature(temp):
    if temp > 30:
        return "It's hot outside."
    elif temp > 20:
        return "The weather is nice."
    elif temp > 10:
        return "It's a bit chilly."
    else:
        return "It's cold outside."

# Example usage
print(check_temperature(35))  # Output: It's hot outside.
print(check_temperature(15))  # Output: It's a bit chilly.

It's hot outside.
It's a bit chilly.

In [ ]:
#function print vs return
def exponentiation_exp_2(x):
    result=x**2
    print("Raised to the power of 2:")
    return result
exponentiation_exp_2(2)

Raised to the power of 2:

4

In [ ]:
#using function in another function
def wage(w_hours):
    return w_hours*25
def bonus(w_hours):
    return wage (w_hours)+50
wage(8), bonus(8)

(200, 250)

In [ ]:
#Define a function called plus_five() that adds 5 to its argument.
#Then, define another function named m_by_3() that multiplies the argument (the result obtained from plus_five()) by 3.
#Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?
def plus_five(x):
    return x+5
def m_by_3(x):
    return plus_five (x)*3
m_by_3(5)

30

In [ ]:
#Define a function, called compare_the_two(), with two arguments.
#If the first one is greater than the second one, let it print "Greater".
#If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.
def compare_the_two(x,y):
    if x>y:
        return "greater"
    elif x<y:
        return "less"
    else:
        return "Equal"
compare_the_two (10,15)

'less'

In [ ]:
#notable built in functions in python
int(3.6)
float(3)
max(30,90,10)

90

In [ ]:
#abs function always give absolute value
z=-20
abs(z)

20

In [ ]:
#sum functiom
x=[1,9,8,6,8]
sum(x)

32

In [ ]:
#round function return round number
round(3.90009,2)

3.9

In [ ]:
#pow function
pow(3,9)

19683

In [ ]:
#len function
len('asmaulhosna')

11

In [ ]:
max(25, 65, 890, 15)

890

In [ ]:
#Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number.
#To solve the task, use the type() function in the body of distance_from_zero().
#Call the function with the values of -10 and "cat" to verify it works correctly.
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        return abs(x)
    else:
        print("Not possible")
(distance_from_zero(-10)

10

In [ ]:
#list ( A list is a type of sequence of data points) use square brackets[], use quotation marks ''
#delete one variable and adding new
participants=['john', 'leila', 'gregory','Cate']
participants

['john', 'leila', 'gregory', 'Cate']

In [ ]:
participants[3]='Maria'
participants

['john', 'leila', 'gregory', 'Maria']

In [ ]:
#del removes an item from a list
del participants[2]
participants

['john', 'leila', 'Maria']

In [ ]:
Numbers=['10','25','40','50']
Numbers[1]

'25'

In [ ]:
Numbers=[10,25,40,50]
Numbers[1]

25

In [ ]:
#help yourself with methods Which is the syntax for invoking a method in Python?
#NAME OF THE OBJECT,DOT OPERATOR, NAME OF THE METHOD, PARENTHESES
participants.append("Asma")
participants

['john', 'leila', 'gregory', 'Cate', 'Asma']

In [ ]:
#with the extend function you can add more value
participants.extend(['joynab','hurun'])
participants

['john', 'leila', 'gregory', 'Cate', 'Asma', 'joynab', 'hurun']

In [ ]:
print('the first participant is: '+participants[0]+'.')

the first participant is: john.

In [ ]:
len(participants)

7

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print('The fourth element of the Numbers list is:', Numbers[4])

The fourth element of the Numbers list is: 115

In [ ]:
#slicing list
participants[1:3]

['leila', 'gregory']

In [ ]:
participants[:2] #first two

['john', 'leila']

In [ ]:
participants[4:] #4th to till last value

['Asma', 'joynab', 'hurun']

In [ ]:
participants[-2:]

['joynab', 'hurun']

In [ ]:
participants.index("joynab")

5

In [ ]:
bigger_list=[participants,Numbers]
bigger_list

[['john', 'leila', 'gregory', 'Cate', 'Asma', 'joynab', 'hurun'],
 [15, 40, 50, 100, 115, 140]]

In [ ]:
participants.sort() #smallest to largest
participants

['Asma', 'Cate', 'gregory', 'hurun', 'john', 'joynab', 'leila']

In [ ]:
participants.sort(reverse=True) #largest to smallest
participants

['leila', 'joynab', 'john', 'hurun', 'gregory', 'Cate', 'Asma']

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:5]

[100, 115]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140] #first four
Numbers[:4]

[15, 40, 50, 100]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[-4:]

[50, 100, 115, 140]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers=[1,2]
All_Numbers=[Numbers,Two_Numbers]
All_Numbers.sort()
All_Numbers

[[1, 2], [15, 40, 50, 100, 115, 140]]

In [ ]:
#tuples elements are placed within parentheses (tuple is kind of list)
(age,years_of_school)="30,17".split(',')
print(age)
print(years_of_school)

30
17

In [ ]:
#functions can provide tuples as return values
def square_info(x):
    A=x**2
    P=4**x
    print("Area and the parameter is: ")
    return A,P
square_info(3)

Area and the parameter is:

(9, 64)

In [ ]:
(name,age)="Peter,24".split(',')
print (name)
print(age)

Peter
24

In [ ]:
def rectangle_info(l, w):
    area = l * w
    perimeter = 2 * (l+ w)
    print("the area and perimeter would be:")
    return area, perimeter
rectangle_info(2,10)

the area and perimeter would be:

(20, 24)

In [ ]:
#dictionary
dict={'k1':'cat', 'k2':'dog','k3':'mouse','k4':'fish'}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [ ]:
dict['k2']

'dog'

In [ ]:
dict['u5']='parrot'
dict

{'k1': 'cat',
 'k2': 'dog',
 'k3': 'mouse',
 'k4': 'fish',
 'k5': 'parrot',
 'u5': 'parrot'}

In [ ]:
Team={}
Team['point Guard']='Drink'
Team['shooting guard']='Ai'
Team['small forward']='sean'
Team['center']='Hector'

In [ ]:
print(Team)

{'point Guard': 'Drink', 'shooting guard': 'Ai', 'small forward': 'sean', 'center': 'Hector'}

In [ ]:
Team ['point Guard']

'Drink'

In [ ]:
#with using get function in dictionry function will give output none value of object is not  define
print(Team.get('coach'))

None

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_5']='lacchi'
Menu['meal_5']

'lacchi'

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_3']='Cheeseburger'
Menu['meal_3']

'Cheeseburger'

In [ ]:
#Attach the Desserts list as a sixth meal (remember, you were supposed to add Soup as a fifth meal earlier!).
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna','meal_5':'Soup'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu ['meal_6']=Dessert
print (Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {
    'meal_1': 10,
    'meal_2': 5,
    'meal_3': 8,
    'meal_4': 12,
    'meal_5': 5
}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {
    'meal_1': 10,
    'meal_2': 5,
    'meal_3': 8,
    'meal_4': 12,
    'meal_5': 5
}
print (Price_list)

{'meal_1': 10, 'meal_2': 5, 'meal_3': 8, 'meal_4': 12, 'meal_5': 5}

In [ ]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}
print(Price_list.get('Spaghetti'))

10

In [ ]:
#FOR LOOP Create a For loop that prints every digit on a new line.
digits = [0,1,2,3,4,5,6,7,8,9]
for i in digits:
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#while loop Create a while loop that will print all odd numbers from 0 to 30 on the same row.
x=1
while x<=30:
  print(x,end=" ")
  x+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [ ]:
# create list with the range()function
#note: range(start,stop,step) start=the first numbrer in the list, stop= the last value+1, stop=the distance between two consecutive value
list(range(1,20,2)) #it start from 1 and stop at 20 reducing 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Use the range() function to create a list with all numbers from 1 to 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0,32,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
for x list (range(1,10)):
    print x+=2

SyntaxError: invalid syntax (ipython-input-19-3333183462.py, line 1)

In [ ]:
# Create a For loop that will print all the variables from a given list multiplied by 2.
#Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.
numbers = list(range(1, 11))
for number in numbers:
  print(number * 2, end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
for x in range(1,31):
    if x % 2 != 0:
        print(x,end=" ")
    else:
        print("even",end=" ")

1 even 3 even 5 even 7 even 9 even 11 even 13 even 15 even 17 even 19 even 21 even 23 even 25 even 27 even 29 even

In [ ]:
#You are given the following list of numbers.
#Iterate over this list, printing each value multiplied by 10 on the same line. Provide two solutions to this problem.
n = [1,2,3,4,5,6]
for number in n:
    print (number*10,end=" ")

10 20 30 40 50 60

In [ ]:
for i in range(len(n)):
  print(numbers[i] * 10, end=" ")

10 20 30 40 50 60

In [2]:
nums = [1,35,12,24,31,51,70,100]
def count(nums):
    while nums<20:
        print (nums, end=" ")

In [3]:
# prompt: You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20 make it easy

def count(nums):
    count = 0
    i = 0
    while i < len(nums):
        if nums[i] < 20:
            count += 1
        i += 1
    return count

print(count(nums))

2

In [4]:
nums = [1, 35, 12, 24, 31, 51, 70, 100]

def count():
    i = 0
    count_under_20 = 0
    while i < len(nums):
        if nums[i] < 20:
            count_under_20 += 1
        i += 1
    print("Count of numbers less than 20:", count_under_20)

count()

Count of numbers less than 20: 2

In [8]:
#You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.
def count():
  i=0
  count_under_20=0
  while i < len(nums):
    if nums[i] < 20:
      count_under_20 += 1 # Increment the count if the number is less than 20
    i+=1 # Move to the next element in the list index
  print("Count of numbers less than 20:", count_under_20)

count()

Count of numbers less than 20: 2

In [14]:
# iterating over dictionaries
#In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity.
#This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.
prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburger": 2
}
quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
}

money_spent = 0
for i in prices:
    if prices[i] < 5:  # Check if the price of the item is less than 5
        money_spent = money_spent + (prices[i] * quantity[i]) # Calculate and add the cost for this item
print(money_spent)

24

In [17]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0
for i in prices:
    if prices[i]==5:
        money_spent=money_spent+(prices[i]*quantity[i])
    print(money_spent)

0
50
50